.footer {
  width: 100%;
  position: relative;
  height: 10vh;
  margin-top: 103px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0;
  font-size: 2vh;
}
